[Unit]
Description=Simple tcp proxy

[Socket]
# Адрес и типа сокета который надо слушать.
ListenStream=127.0.0.1:48784
# Acceps=yes означает принять соединение и передать подключенный сокет сервису.
#     Сервис создается для каждого подключения.
#     По умолчанью имя сервиса должно быть my-proxy@.service.
# Accept=no передать сервису слушающий сокет.
#     Сервис создается однократно.
#     По умолчанью имя сервиса должно быть my-proxy.service.
Accept=yes
# Установка произвольного имени сервиса.
# Service=name.service

[Install]
WantedBy=sockets.target
